.body{
    text-align: center;
    color: coral;
    margin: auto;
    background-image: url('/assets/images/monstars.jpeg');
    background-size: cover;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
}
.container{
    width: 50%;
}
.selectplayer{
    opacity: 80%;

}
.output{
    text-align: center;
    background-color: purple;
    opacity: 90%;
}